<a mat-button color="warn" routerLink="/funcionario">
  Adicionar Lancamento
</a>
<!--
<mat-table [dataSource]="dataSource">

  <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
  <mat-row *matRowDef="let row; columns: colunas;"></mat-row>

  <ng-container matColumnDef="data">
    <mat-header-cell *matHeaderCellDef>
      Data
    </mat-header-cell>
    <mat-cell *matCellDef="let lancamento">
      {{lancamento.data}}
    </mat-cell>
  </ng-container>

  <ng-container>
    <mat-header-cell matColumnDef="tipo">
      Tipo
    </mat-header-cell>
    <mat-cell *matCellDef="let lancamento">
      {{lancamento.tipo}}
    </mat-cell>
  </ng-container>

  <ng-container>
    <mat-header-cell matColumnDef="localizacao">
      Localização
    </mat-header-cell>
    <mat-cell *matCellDef="let lancamento">
      {{lancamento.localizacao}}
    </mat-cell>
  </ng-container>
</mat-table> -->
